body{
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
}

.container {
    width: 100%;
    height: 49.3rem;
}

.header{
    display: flex;
    width: 100%;
    height: 7.5rem;

    align-items: center;
}

.hamburger {
    width: 25px;
    height: 35px;
    background-color: #FAFAFA;
    float: left;
    /* position: absolute; */
    margin-left: 30px;
    transition: ease 0.8s;
}

.line {
    height: 3px;
    background-color: #FF4E4E;
    margin-top: 7px;
    border-radius: 2px;
}

.line-1 {
    width: 15px;
}

.line-3 {
    width: 20px;
}

.header h2{
    width: 6.25rem;
    margin: auto 0 0 3.75rem;
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 0.5px;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.2rem;
}

.header .fas {
    color: #FF4E4E;
}

.navlinks{
    width: 18.75rem;
    height: 37.5rem;
    float: left;
}

.navlinks ul {
    margin: 0;
    padding-left: 3.75rem;

}

.navlinks li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    margin-top: 3.12rem;
    color: #8b8b8b;
}

.navlinks .book {
    margin-bottom: 6.25rem;
}

.navlinks .about {
    text-decoration: line-through #FF4E4E;
}

.navlinks li:hover {
    text-decoration: line-through #FF4E4E;
}

.navlinks .btn {
    color: #FFF5F5;
    text-decoration: none;
    background-color: #FF4E4E;
    margin-left: 3.75rem;
    padding: 15px 50px 15px 50px;
    border-radius: 2.1rem;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    transition: background ease 0.5s;
}

.navlinks .btn:hover {
    background-color: #f51f1f;
}

.heading-wrap {
    width: 80%;
    height: 16.8rem;
    float: right;
}

.heading h1 {
    font-size: 4.3rem;
    font-family: 'Abril Fatface', cursive;
    font-weight: 500;
    width: 37.5rem;
    float: left;
    margin-top: 0;
    margin-left: 2.5rem;
}

.heading p {
    font-family: 'Montserrat', sans-serif;
    color: #8b8b8b;
    margin-top: 0;
    line-height: 1.5rem;
}

.para {
    float: right;
    width: 14.3rem;
    margin-right: 12%;
}

.underline {
    background-color: #FF4E4E;
    width: 4rem;
    height: 0.2rem;
}

.card-wrap {
    width: 80%;
    height: 14rem;
    display: flex;
    justify-content: space-around;
}

.card-wrap img {
    width: 8.1rem;
    height: 8.1rem;
    border-radius: 4.3rem;
}
.card-wrap h3 {
    margin-top: 1.5rem;
}

.card-wrap .cards {
    width: 11.875rem;
    height: 12.5rem;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0 1rem 4rem #d7d7d7;
    border-radius: 1.25rem;
    padding-top: 1.56rem;
    font-family: 'Roboto', sans-serif;
    font-size: 0.81rem;
    transition: transform ease 0.5s;
}

.card-wrap .cards:hover {
    transform: scale(1.1);
}

/* collapse menu */
.sidebar {
    width: 30rem;
    height: 50rem;
    position: absolute;
    background-color: #FAFAFA;
    top: 0;
    left: -30rem;
    transition: left 0.5s;
}

.change .sidebar{
    left: 0;
}

.change .line {
    background-color: #FF4E4E;
  }
  
  .change .line-1 {
    width: 20px;
    transform: rotate(45deg) translate(0.1rem, 0.6rem);
  }
  
  .change .line-2 {
    opacity: 0;
    visibility: hidden;
  }
  
  .change .line-3 {
    width: 20px;
    transform: rotate(-45deg) translate(0.3rem, -0.8rem);
  }
  
  .change .hamburger {
      z-index: 1;

  }

.sidebar ul {
    padding: 0;
    margin-top: 10rem;
}

.sidebar li {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    color: #8b8b8b;
    text-align: center;
    margin-top: 3rem;
    font-size: 1.5rem;
}

.change .sidebar li:hover {
    text-decoration: line-through #FF4E4E;
}

.sidebar .about {
    text-decoration: line-through #FF4E4E;
}

@media (max-width: 1600px) {
    .navlinks {
        width: 16.8rem;
    }
    .header .fas {
        display: none;
    }

    .header .hamburger{
        display: none;
    }

    .sidebar{
        display: none;
    }
}

@media (max-width: 1400px) {
    .navlinks {
        width: 15.6rem;
    }
}

@media (max-width: 1300px) {
    .navlinks {
        width: 13.75rem;
    }

    .card-wrap {
        width: 78%;
    }
    
    .heading h1 {
        font-size: 4rem;
        width: 34.3rem;
    }

    .para {
        margin-right: 10%;
    }

    .card-wrap img {
        width: 7.5rem;
        height: 7.5;
        border-radius: 70px;
    }

    .card-wrap .cards {
        width: 11.25rem;
        height: 11.8rem;
    }

    .heading p {
        line-height: 1.2rem;
    }
}

@media (max-width: 1200px) {
    .navlinks {
        width: 12.5rem;
    }

    .card-wrap {
        width: 78%;
    }
    
    .heading h1 {
        font-size: 3.4rem;
        width: 31.25rem;
    }

    .para {
        margin-right: 8%;
    }

    .card-wrap img {
        width: 6.8rem;
        height: 6.8rem;
        border-radius: 3.7rem;
    }

    .card-wrap .cards {
        width: 10.3rem;
        height: 11rem;
    }

    .heading p {
        line-height: 1.25rem;
        font-size: 0.93rem;
    }
}

@media (max-width: 1080px) {
    .navlinks {
        width: 11.25rem;
    }

    .navlinks .btn {
        margin-left: 3.12rem;
        padding: 13px 2.81rem 13px 2.81rem;
        border-radius: 2.18rem;
        font-size: 0.81rem;
    }

    .card-wrap {
        width: 78%;
        height: 12.5rem;

    }
    
    .heading h1 {
        font-size: 3rem;
        width: 26.2rem;
    }

    .para {
        margin-right: 8%;
    }

    .card-wrap img {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 90px;
        padding: 0.62rem;
    }

    .card-wrap .cards {
        width: 8.75rem;
        height: 10.6rem;
        padding: 5px;
    }

    .heading p {
        line-height: 1.25rem;
        font-size: 0.81rem;
    }

    .card-wrap h3 {
        margin-top: 0.93rem;
    }
}


@media (max-width: 1000px) {
    .navlinks {
        width: 11.8rem;
    }

    .navlinks .btn {
        margin-left: 1.8rem;
        padding: 10px 2.5rem 10px 2.5rem;
        border-radius: 35px;
        font-size: 0.81rem;
    }

    .card-wrap {
        width: 75%;
        height: 25rem;
    }

    .card-wrap .card-5 {
        display: none;
    }
    .heading-wrap {
        width: 75%;
        height: 16.25rem;
        float: left;
    }
    
    .heading h1 {
        font-size: 2.87rem;
        width: 24.3rem;
    }

    .para {
        margin-right: 0;
    }

    .card-wrap img {
        width: 6.25rem;
        height: 6.25rem;
        border-radius: 5.62rem;
        padding: 0.62rem;
    }

    .card-wrap .cards {
        width: 8.75rem;
        height: 10.6rem;
        padding: 0.31rem;
    }

    .heading p {
        line-height: 1.25;
        font-size: 0.81rem;
        float: right;
    }

    .underline {
        background-color: #FF4E4E;
        width: 3rem;
        height: 0.2rem;
        float: left;
    }

    .card-wrap h3 {
        margin-top: 0.93rem;
    }
}


@media (max-width: 950px) {
    .sidebar {
        display: block;
    }

    .header .remove {
        display: none;
    }
    .header h2 {
        width: 80%;
        margin: 0;
        font-size: 2rem;
    }

    .header {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header .fas {
        display: inline-block;
        font-size: 1.56rem;
        margin-right: 1.87rem;
    }

    .header .hamburger{
        display: inline-block;
        margin: 0;
        margin-left: 1.87rem;
    }

    .navlinks {
        display: none;
    }

    .para {
        position: absolute;
        display: block;
        width: 30%;
        top: 10rem;
        left: 37rem;  

    }

    .para p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .para .underline{
        width: 4rem;
    }

    .heading-wrap {
        float: right;
        width: 90%;
        height: 20rem;
    }

    .heading h1 {
        margin: 0;
        font-size: 2.8rem;
        width: 24rem;
        margin-top: 1.25rem;
    }

    .card-wrap {
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        height: 12rem;
        margin-left: 5rem;
    }

    .card-wrap .cards {
        width: 8rem;
        height: 10rem;
        padding: 0.31rem;
    }

    .card-wrap img {
        width: 5.62rem;
        height: 5.62rem;
        border-radius: 90px;
        padding: 0.62rem;
    }
}

@media (max-width: 900px) {
    .sidebar {
        display: block;
    }

    .header .remove {
        display: none;
    }
    .header h2 {
        width: 80%;
        margin: 0;
        font-size: 2rem;
    }

    .header {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header .fas {
        display: inline-block;
        font-size: 1.56rem;
        margin-right: 1.87rem;
    }

    .header .hamburger{
        display: inline-block;
        margin: 0;
        margin-left: 1.87rem;
    }

    .navlinks {
        display: none;
    }

    .para {
        position: absolute;
        display: block;
        width: 30%;
        top: 10rem;
        left: 33rem;  

    }

    .para p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .para .underline{
        width: 4rem;
    }

    .heading-wrap {
        float: right;
        width: 90%;
        height: 20rem;
    }
}


@media (max-width: 800px) {
    .sidebar {
        display: block;
    }

    .header .remove {
        display: none;
    }
    .header h2 {
        width: 80%;
        margin: 0;
        font-size: 2rem;
    }

    .header {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header .fas {
        display: inline-block;
        font-size: 1.56rem;
        margin-right: 1.87rem;
    }

    .header .hamburger{
        display: inline-block;
        margin: 0;
        margin-left: 1.87rem;
    }

    .navlinks {
        display: none;
    }

    .para {
        position: absolute;
        display: block;
        width: 30%;
        top: 10rem;
        left: 28rem;  

    }

    
    .card-wrap {
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        height: 23.12rem;
        margin-left: 4rem;
    }

    .heading h1 {
        margin: 0;
        font-size: 2.2rem;
        width: 19rem;
        margin-top: 1.25rem;
    }

    .para p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
        font-size: 0.7rem;
    }

    .para .underline{
        width: 4rem;
    }

    .heading-wrap {
        float: right;
        width: 90%;
        height: 18rem;
    }
}

@media (max-width: 700px) {
    .card-wrap {
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-around;
        height: 23.12rem;
        margin-left: 0;
    }
}

@media (max-width: 600px) {
    .para {
        left: 25rem;
    }

    .card-wrap .card-4 {
        display: none;
    }

    .card-wrap {
        margin-left: 1rem;
    }

    .heading-wrap {
        height: 20rem;
    }
}

@media (max-width: 500px) {
    .sidebar {
        display: block;
    }

    .card-wrap .card-4 {
        display: block;
    }

    .header .remove {
        display: none;
    }
    .header h2 {
        width: 80%;
        margin: 0;
        font-size: 1.87rem;
    }

    .header {
        width: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .header .fas {
        display: inline-block;
        font-size: 1.56rem;
        margin-right: 1.87rem;
    }

    .header .hamburger{
        display: inline-block;
        margin: 0;
        margin-left: 1.87rem;
    }

    .navlinks {
        display: none;
    }

    .para {
        position: absolute;
        display: block;
        width: 50%;
        top: 42rem;
        left: 3rem;  

    }

    .para p {
        font-family: 'Montserrat', sans-serif;
        line-height: 1.5rem;
    }

    .para .underline{
        width: 4rem;
    }

    .heading-wrap {
        float: right;
        width: 90%;
        height: 9.37rem;
    }

    .heading h1 {
        margin: 0;
        font-size: 2.1rem;
        width: 19rem;
        margin-top: 1.25rem;
    }

    .card-wrap {
        flex-wrap: wrap;
        width: 80%;
        justify-content: space-around;
        height: 23.12rem;
        margin-left: 3rem;
    }

    .card-wrap .cards {
        width: 8rem;
        height: 10rem;
        padding: 0.31rem;
    }

    .card-wrap img {
        width: 5.62rem;
        height: 5.62rem;
        border-radius: 90px;
        padding: 0.62rem;
    }

}

@media(max-width: 450px) {
    .sidebar {
        width: 27.5rem;
        left: -27.5rem;
    }

    .para{
        top: 41.5rem;
        width: 80%;
    }

    .para p {
        font-size: 1rem;
    }
}

@media(max-width: 400px) {
    .sidebar {
        width: 25rem;
        left: -25rem;
    }

    .para{
        top: 41.5rem;
        width: 80%;
    }

    .para p {
        font-size: 0.9rem;
    }

    .card-wrap {
        margin-left: 2.3rem;
    }
}

@media (max-width: 350px) {
    .sidebar {
        width: 22rem;
        left: -22rem;
    }

    .card-wrap .cards {
        width: 7rem;
        height: 9rem;
        padding: 0.31rem;
    }

    .card-wrap h3 {
        font-size: 0.7rem
    }

    .card-wrap img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50px;
    }

    .card-wrap {
        margin-left: 2rem;
    }

    .para {
        top: 41rem;
    }
}